node_modules/
out/test/**
*.vsix
.vscode-test/
*.log
test.php
src/**
.github/**
.vscode/**
.agents/**
.codex/**
.gitignore
tsconfig.json
eslint.config.js
**/*.map
**/*.ts
.eslintrc.json
.mocharc.json
